@tailwind base;
@tailwind components;
@tailwind utilities;

.socialIcons:hover{
    color: bisque;
    text-decoration:underline;
    text-underline-offset: 0.3rem;
}

.btn:hover{
    color: rgb(82, 117, 221);
    background-color: rgb(243, 225, 203);
    border-color: rgb(248, 241, 111);
}
@media(min-width:280px) and (max-width:580px) {
    #mainPart{
        flex-direction: column;
    }
    #box1{
        width: 100%;
        margin: auto;

    }
    #imgpart{
        height: 85%;
        width: 85%;
        margin: 15px;
        /* margin-top: 15px; */
    }
    .writtren{
        margin-left: 8px;
    }
   
    #box2{
        width: 80%;
        margin: auto;
    }
}
@media(min-width:600px) and (max-width:900px) {
    
    #imgpart{
        margin: auto;
        margin-top: 15px;
        height: 300px;
    }
}




